<form #candidateForm="ngForm" (ngSubmit)="createCandidate()">
    <section class="form-block">
        <label>Create a new candidate</label>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter name here" #nameInput="ngModel" name="name" [(ngModel)]="nameCan" >
        </div>
        <div class="form-group">
            <label for="bio">Bio</label>
            <textarea id="bio" rows="5" #bioInput="ngModel" [(ngModel)]="bioCan" name="bio"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" placeholder="Upload image" (change)="fileChangeEvent($event)">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </section>
</form>
