<div class="login-wrapper">
    <form *ngIf="!changePass; else changePasswordTemplate" class="login" #loginForm="ngForm" (ngSubmit)="login()">
        <label class="title">
            <h3 class="welcome">Bienvenido a </h3>
            Blockchain voting system
            <h5 class="hint">Inicia sesión con tus credenciales</h5>
        </label>
        <div class="login-group">
            <input class="username" type="text" id="user" name="user" placeholder="Usuario" [(ngModel)]="user" #userInput="ngModel" >
            <input class="password" type="password" id="password" name="password" placeholder="Contraseña" [(ngModel)]="password" #passwordInput="ngModel" >
            
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Recuérdame
                </label>
            </div>
            <div [class.active]="errors" class="error">
                {{errorMsg}}
            </div>
            <button type="submit" class="btn btn-primary">SIGUIENTE</button>
            <!--<a href="javascript://" class="signup">Sign up for a Company ID</a>-->
        </div>
    </form>
    <ng-template #changePasswordTemplate>
        <form class="login" #updatePassForm="ngForm" (ngSubmit)="changePassword()" >
            <label class="title">
                <h3 class="welcome">Acción requerida</h3>
                <h5 class="hint">Por favor cambie su contraseña por una nueva</h5>
            </label>
            <div class="login-group">
                <input class="password" type="password" id="pass1" name="pass1" placeholder="Nueva contraseña" [(ngModel)]="pass1" #pass1Input="ngModel" >
                <input class="password" type="password" id="pass2" name="pass2" placeholder="Repita nueva contraseña" [(ngModel)]="pass2" #pass2Input="ngModel" >

                <div [class.active]="errors" class="error">
                    {{errorMsg}}
                </div>
                <button type="submit" class="btn btn-primary">ACTUALIZAR</button>
                <!--<a href="javascript://" class="signup">Sign up for a Company ID</a>-->
            </div>
        </form>
    </ng-template>
</div>
    
    