<form>
    <section class="form-block">
        <label>Create a new election</label>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="Enter title here">
        </div>
        <div class="form-group">
            <label for="aForm_2">Another form field</label>
            <input type="password" id="aForm_2" placeholder="Enter another value here" size="35">
        </div>
        <div class="form-group">
            <label for="aForm_3">A select box</label>
            <div class="select">
                <select id="aForm_3">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </section>
</form>


