<form #electionForm="ngForm" (ngSubmit)="createElection()">
    <section class="form-block">
        <label>Create a new election</label>
        <div class="form-group">
            <label class="required" for="title">Title</label>
            <input type="text" id="title" placeholder="Enter title here" #titleInput="ngModel" name="title" [(ngModel)]="titleEl" required>
        </div>
        <div class="form-group">
            <label class="required" for="description">Description</label>
            <textarea id="description" rows="5" #descriptionInput="ngModel" [(ngModel)]="descriptionEl" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label class="required" for="options">Options</label>
            <textarea id="options" rows="3" name="options" #optionsInput="ngModel" [(ngModel)]="optionsEl" required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" placeholder="Upload image" (change)="fileChangeEvent($event)">
        </div>
    </section>
    <section class="form-block">
        <label>Candidates</label>
        <div class="row">
            <div *ngFor="let candidate of candidates" class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card-img">
                    <img [src]="url + candidate.image" alt="image" class="candidate-img">
                </div>
                <div class="card-block">
                    <div class="card-title">
                        {{candidate.name}}
                    </div>
                    <div class="card-text">
                        {{candidate.bio}}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="checkbox-inline">
                        <input type="checkbox" [id]="candidate.id" (click)="checkedCandidate($event)" >
                        <label [for]="candidate.id">Include</label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </section>
    <div *ngIf="success" class="alert" [ngClass]="alertClass">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" [attr.shape]="shape"></clr-icon>
                </div>
                <span class="alert-text">{{alert_text}}</span>
            </div>
        </div>
    </div>
</form>


