<div *ngIf="_router.url !== '/login'; else loginView" class="main-container">
    <header class="header-6">
        <div class="branding">
            <span class="title">{{title}}</span>
        </div>
        <div class="header-nav">
            <a *ngIf="user.username" href="javascript://" class="nav-link nav-text">Dashboard</a>
            <a *ngIf="user.username" href="vote" class="nav-link nav-text">Elections</a>
        </div>
        <div class="header-actions">
            <a *ngIf="user.username == '';else userLogged" href="login" class="nav-link nav-icon">
                <clr-icon shape="user"></clr-icon>
            </a>
            <ng-template #userLogged>
              <clr-dropdown>
                  <button class="nav-text" clrDropdownTrigger>
                      {{ user.username }}
                      <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                      <a href="settings" clrDropdownItem>Settings</a>
                      <a href="/" (click)="logout()" clrDropdownItem>Log out</a>
                  </clr-dropdown-menu>
              </clr-dropdown>
            </ng-template>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav *ngIf="user.isRoot" class="sidenav">
            <section class="sidenav-content">
                <section class="nav-group collapsible">
                    <input id="tab_user" type="checkbox">
                    <label for="tab_user">Users</label>
                    <ul class="nav-list">
                        <li><a href="user" class="nav-link">Add new user</a></li>
                    </ul>
                </section>
                <section class="nav-group collapsible">
                    <input id="tab_election" type="checkbox">
                    <label for="tab_election">Elections</label>
                    <ul class="nav-list">
                        <li><a href="election" class="nav-link">Add new election</a></li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</div>

<ng-template #loginView>
    <router-outlet></router-outlet>
</ng-template>